.star {
  width: 400px;
  height: 4px;
  position: relative !important;
  margin-bottom: 50px;
}
.star i {
  position: absolute !important;
  width: 70px;
  top: 0;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #1abc9c;
}
